################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/CreateBarCodeStep/obj/Debug/CreateBarCodeStep.csprojAssemblyReference.cache
/.vs/sdk-examples/v16/.suo
/.vs/VSWorkspaceState.json
/CustomDataSources/.vs/CustomDataSources/v16/Server/sqlite3
/CustomDataSources/.vs/CustomDataSources/v16
/CustomDataSources/bin/Debug
/CustomDataSources/obj/Debug
/RestrictDecisionsInitializationExample/.vs/RestrictedDecisionsInitializationExample/v16
/RestrictDecisionsInitializationExample/bin/Debug
/RestrictDecisionsInitializationExample/obj/Debug
/CustomModule/.vs/CustomModule/v16
/CustomModule/bin/Debug
/CustomModule/obj/Debug
/CustomModule/packages/MathNet.Numerics.4.9.0
/RestrictDecisionsInitializationExample/obj/Release
/CustomDataSources/obj/Release
/CreateBarCodeStep/obj/Release
/.idea/.idea.sdk-examples.dir/.idea/.gitignore
/.idea/.idea.sdk-examples.dir/.idea/contentModel.xml
/.idea/.idea.sdk-examples.dir/.idea/encodings.xml
/.idea/.idea.sdk-examples.dir/.idea/indexLayout.xml
/.idea/.idea.sdk-examples.dir/.idea/modules.xml
/.idea/.idea.sdk-examples.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.sdk-examples.dir/riderModule.iml
/.idea/.idea.sdk-examples.dir/.idea/vcs.xml
/Behaviors/.idea/.idea.BehaviorsSDKExamples/.idea/.name
/Behaviors/.idea/.idea.BehaviorsSDKExamples/.idea/contentModel.xml
/Behaviors/.idea/.idea.BehaviorsSDKExamples/.idea/indexLayout.xml
/Behaviors/.idea/.idea.BehaviorsSDKExamples/.idea/modules.xml
/Behaviors/.idea/.idea.BehaviorsSDKExamples/.idea/projectSettingsUpdater.xml
/Behaviors/.idea/.idea.BehaviorsSDKExamples/.idea/vcs.xml
/Behaviors/.idea/.idea.BehaviorsSDKExamples/riderModule.iml
/FlowToolboxSteps/.idea/.idea.FlowToolboxSteps/.idea/.gitignore
/FlowToolboxSteps/bin/Debug/AngleSharp.dll
/FlowToolboxSteps/bin/Debug/Aspose.BarCode.dll
/FlowToolboxSteps/bin/Debug/Aspose.Cells.dll
/FlowToolboxSteps/bin/Debug/Aspose.OCR.dll
/FlowToolboxSteps/bin/Debug/Aspose.PDF.dll
/FlowToolboxSteps/bin/Debug/Aspose.Slides.dll
/FlowToolboxSteps/bin/Debug/Aspose.Words.dll
/FlowToolboxSteps/bin/Debug/Commons.dll
/FlowToolboxSteps/bin/Debug/Decisions.DotLess.dll
/FlowToolboxSteps/bin/Debug/DecisionsFramework.dll
/FlowToolboxSteps/bin/Debug/DecisionsFramework.pdb
/FlowToolboxSteps/bin/Debug/DocumentFormat.OpenXml.dll
/FlowToolboxSteps/bin/Debug/dotless.core.dll
/FlowToolboxSteps/.idea/.idea.FlowToolboxSteps/.idea/encodings.xml
/FlowToolboxSteps/bin/Debug/EO.Base.dll
/FlowToolboxSteps/bin/Debug/EO.Pdf.dll
/FlowToolboxSteps/bin/Debug/EO.WebBrowser.dll
/FlowToolboxSteps/bin/Debug/EO.WebEngine.dll
/FlowToolboxSteps/obj/Debug/FlowToolboxSteps.csproj.CopyComplete
/FlowToolboxSteps/obj/Debug/FlowToolboxSteps.csproj.FileListAbsolute.txt
/FlowToolboxSteps/obj/Debug/FlowToolboxSteps.csprojAssemblyReference.cache
/FlowToolboxSteps/bin/Debug/FlowToolboxSteps.dll
/FlowToolboxSteps/obj/Debug/FlowToolboxSteps.dll
/FlowToolboxSteps/bin/Debug/FlowToolboxSteps.pdb
/FlowToolboxSteps/obj/Debug/FlowToolboxSteps.pdb
/FlowToolboxSteps/FlowToolboxSteps.sln.DotSettings.user
/FlowToolboxSteps/bin/Debug/GemBox.Spreadsheet.dll
/FlowToolboxSteps/bin/Debug/HtmlSanitizer.dll
/FlowToolboxSteps/bin/Debug/ICSharpCode.SharpZipLib.dll
/FlowToolboxSteps/.idea/.idea.FlowToolboxSteps/.idea/indexLayout.xml
/FlowToolboxSteps/bin/Debug/Microsoft.IdentityModel.JsonWebTokens.dll
/FlowToolboxSteps/bin/Debug/Microsoft.IdentityModel.Logging.dll
/FlowToolboxSteps/bin/Debug/Microsoft.IdentityModel.Tokens.dll
/FlowToolboxSteps/bin/Debug/Microsoft.OData.Client.dll
/FlowToolboxSteps/bin/Debug/Microsoft.OData.Core.dll
/FlowToolboxSteps/bin/Debug/Microsoft.OData.Edm.dll
/FlowToolboxSteps/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/FlowToolboxSteps/bin/Debug/Microsoft.Silverlight.ServiceReference.dll
/FlowToolboxSteps/bin/Debug/Microsoft.Spatial.dll
/FlowToolboxSteps/bin/Debug/Microsoft.SqlServer.TransactSql.ScriptDom.dll
/FlowToolboxSteps/bin/Debug/MigraDoc.DocumentObjectModel.dll
/FlowToolboxSteps/.idea/.idea.FlowToolboxSteps/.idea/misc.xml
/FlowToolboxSteps/bin/Debug/Mono.Security.dll
/FlowToolboxSteps/bin/Debug/NCalc.dll
/FlowToolboxSteps/bin/Debug/Newtonsoft.Json.dll
/FlowToolboxSteps/bin/Debug/Newtonsoft.Json.Schema.dll
/FlowToolboxSteps/bin/Debug/Npgsql.dll
/FlowToolboxSteps/bin/Debug/nunit.framework.dll
/FlowToolboxSteps/bin/Debug/NVelocity.dll
/FlowToolboxSteps/bin/Debug/Oracle.ManagedDataAccess.dll
/FlowToolboxSteps/bin/Debug/Pandora.dll
/FlowToolboxSteps/bin/Debug/PdfSharp.dll
/FlowToolboxSteps/bin/Debug/Rebex.Common.dll
/FlowToolboxSteps/bin/Debug/Rebex.Ftp.dll
/FlowToolboxSteps/bin/Debug/Rebex.Imap.dll
/FlowToolboxSteps/bin/Debug/Rebex.Mail.dll
/FlowToolboxSteps/bin/Debug/Rebex.Networking.dll
/FlowToolboxSteps/bin/Debug/Rebex.Pop3.dll
/FlowToolboxSteps/bin/Debug/Rebex.Sftp.dll
/FlowToolboxSteps/bin/Debug/Rebex.Smtp.dll
/FlowToolboxSteps/.idea/.idea.FlowToolboxSteps/riderModule.iml
/FlowToolboxSteps/bin/Debug/sdf.XPath.dll
/FlowToolboxSteps/bin/Debug/Svg.dll
/FlowToolboxSteps/bin/Debug/System.IdentityModel.Tokens.Jwt.dll
/Decisions.CustomLogin.Example/Decisions.CustomLogin.Web/.vs
/Decisions.CustomLogin.Example/Decisions.CustomLogin.Web/bin
/Decisions.CustomLogin.Example/Decisions.CustomLogin.Web/obj
/Decisions.CustomLogin.Example/tsconfig.json
/CustomModule/bin
/CustomModule/obj
/CustomModule/CustomModule.zip
/CustomModule/.idea
/Decisions.CustomLogin.Example/.idea
