################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/CreateBarCodeStep/obj/Debug/CreateBarCodeStep.csprojAssemblyReference.cache
/.vs/sdk-examples/v16/.suo
/.vs/VSWorkspaceState.json
/CustomDataSources/.vs/CustomDataSources/v16/Server/sqlite3
/CustomDataSources/.vs/CustomDataSources/v16
/CustomDataSources/bin/Debug
/CustomDataSources/obj/Debug
/RestrictDecisionsInitializationExample/.vs/RestrictedDecisionsInitializationExample/v16
/RestrictDecisionsInitializationExample/bin/Debug
/RestrictDecisionsInitializationExample/obj/Debug
